@font-face {
 font-family: Arial; /* Гарнитура шрифта */
 src: url(/fonts/Arial-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin:0;
}

/*Картинка на bg*/
.content_0{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  background-image: url(/img/bg_1.jpg);
}

.content_1{
  position: absolute;
  top:0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: top center;
  background-image: url(/img/bg_0.jpg);
}

/*Контейнер с всеми элементами на странице*/
.container {
  left: 50%;
  margin: auto -190px;
  text-align: center;
  position: absolute;
  width: 380px;
  height: 100vh;
  background-image: url(/img/gd_0.png);
  background-size: contain;
  transition: 0.2s ease;
}

/*Параметры заголовков и подзаголовков*/
p {
  -webkit-font-smoothing: 1;
  font-family: "Arial";
  font-weight: normal;
  font-size: 12.5pt;
  letter-spacing: 1.5px;
  color: #fff;
  text-align: center;
  top: 0;
  margin: 0;
}

.header-info{
  font-size: 11.8pt;
  padding-top: 18px;
  text-shadow: 0px 0px 25px #000002;
}

.date {
  margin: 0;
  font-size: 11pt;
  padding-top: 20px;
  text-shadow: 0px 0px 25px #000002;
}

.today {
  padding-top: 15px;
  font-size: 14pt;
}

.price {
  margin: 0;
  padding-top: 7px;
}

p span {
  position: relative;
  color: #949595;
  font-size: 15.1pt;
}

p span:after{
  content: '';
  display: block;
  left:-5px;
  top: 10px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00dffc;
  transform: rotate(-14deg);
}

h1{
  letter-spacing: 1.5px;
  font-family: "Arial Bold",sans-serif;
  font-weight: bold;
  font-size: 29pt;
  color: #00dffc;
  text-align: center;
  top: 0;
  margin: 0;
  padding-top: 15px;
  line-height: 1.017;
  text-shadow: 0px 0px 5.32px black;
}

/*Параметры формы*/
.input-form{
  text-align: center;
  padding-top: 10px;
}
.input-field{
  padding-top: 7px;
}

input {
  margin:auto;
  position: relative;
  display: block;
  width: 220px;
  height: 32.5px;
  border-radius: 2px;
  background-color: #deddde;
  border: none;
  text-indent: 5px;
  font-size: 8.5pt;
  font-family: Arial,Sans-serif;
  font-weight: 200;
  color: #4d4d4d;
}

/*Параметры кнопки*/
.button {
  border: 3px solid #00dffc;
  padding: 9px 37px;
  font-family: Arial, sans-serif;
  font-size: 10.5pt;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover{
  background-color: #fff;
  color: #343838;
}

.button_wrapper{
  padding-top: 23px;
}

/*Параметры контейнера таймера*/
.timer-container{
  padding-top: 35px;
}

.before_timer {
  font-family: Arial,sans-serif;
  font-size: 11px;
}
.under_timer {
  font-family: Arial,sans-serif;
  padding-top: 30px;
  font-size: 10px;
  position: relative;
}
/*Псевдоэлемент линия*/
.under_timer:before{
content: '';
background-image: url(/img/underline.png);
background-repeat: no-repeat;
position: absolute;
width: 288px;
height: 1px;
top: 25px;
left:50px;
}

.time_wrapper{
  padding-top: 10px;
}
.time_group{
  position: relative;
  padding: 0 4px;
  display: inline-block;

}
.days{
  position: relative;
}
.days:after{
  content: "дней";
  position: absolute;
  top:32px;
  left: 9px;
  font-family: Arial,sans-serif;
  font-size: 9px;
  color: #fff;
}

.hours{
  position: relative;
}
.hours:after{
  content: "Часов";
  position: absolute;
  top:32px;
  left: 7px;
  font-family: Arial,sans-serif;
  font-size: 9px;
  color: #fff;
}

.minutes{
  position: relative;
}
.minutes:after{
  content: "Минут";
  position: absolute;
  top:32px;
  left: 7px;
  font-family: Arial,sans-serif;
  font-size: 9px;
  color: #fff;
}
.seconds{
  position: relative;
}
.seconds:after{
  content: "Секунд";
  position: absolute;
  top:32px;
  left: 6px;
  font-family: Arial,sans-serif;
  font-size: 9px;
  color: #fff;
}
/*Параметры для ячейки таймера*/
.time_bg{
  width: 17px;
  margin: 0 -1px;
  padding: 0 10px;
  font-family: Arial,sans-serif;
  font-size: 21px;
  padding: 0 0;
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 3px;
  background-color: #e7e5e3;
  box-shadow: 0px 2px 3px 0.28px black;
}
/*для корректоного отображения на мобильных устройствах*/
@media screen and (max-width: 400px) {
  .container {
    width: 320px;
    margin: auto -160px;
  }
}

@media (min-width: 1920px)  {
  .container {
    left: 50%;
    margin: auto -340px;
    width: 680px;
  }

  p {
    font-size: 17.5pt;
  }

  .header-info{
    font-size: 16.8pt;
  }

  .date {
    font-size: 16pt;
  }

  .today {
    font-size: 19pt;
  }

  p span {
    font-size: 20.1pt;
  }

  h1{
    font-size: 34pt;
  }

  input {
    width: 280px;
    height: 38.5px;
    font-size: 10.5pt;
  }

  .button {
    border: 3px solid #00dffc;
    padding: 9px 37px;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
  }

}
