/* font-family: "HelveticaNeueCyr-Bold"; */
@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot");
	src: url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"),
	url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* font-family: "HelveticaNeueCyr-Light"; */
@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot");
	src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"),
	url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

/* font-family: "HelveticaNeueCyr-Medium"; */
@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot");
	src: url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"),
	url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

/* font-family: "HelveticaNeueCyr-Roman"; */
@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot");
	src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"),
	url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
