.open_more-btn {
  display: none;
}
.showed {
  display: block;
}
.hidden {
  display: none;
}
@media screen and (max-width:810px){
  .showed_m {
    display: block;
  }
  .hidden_m {
    display: none;
  }
  .open_more-btn {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    border-radius: 25px;
    margin: 25px 0 20px 0;
    font-size: 17px;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .open_more-btn:hover{
    background-color: #d6d6d6;
  }
  .bl_img {
    float: left;
    width: 19%;
    display: inline-block;
    vertical-align: top;
  }
  h2 {
    color: #373e46;
    font: 700 24px/1.2 'Roboto';
  }
  .h-ln {
    position: relative;
    padding-top: 45px;
    margin-bottom: 30px;
  }
  .h-ln:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -15px;
    background: #c41036;
    width: 100px;
    height: 6px;
  }
  .btn-orn,
  a.btn-orn {
    display: block;
    background: #d83654;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .btn-orn:hover,
  a.btn-orn:hover {
    background: #ff7790;
  }
  .txt-orn {
    color: #c41036;
  }
  .discount {
    position: relative;
    display: block;
    background: #c41036;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    background: url("../img/part_disc.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .discount span {
    line-height: 0.9;
    display: block;
    font-weight: 700
  }
  .bl-supply .bl_img {
    position: relative;
    width: 73%;
    text-align: left;
  }
  .bl-supply .wrap_img {
    position: absolute;
    z-index: 10;
    width: 101%;
  }
  .bl-supply .wrap_img img {
    width: 100%;
  }
  .bl-supply .wrap_img .describe {
    position: absolute;
    bottom: 0px;
  }
  .bl-supply .discount {
    padding: 12px 0;
    height: 99px;
  }
  .bl-supply .bl_txt {
    position: relative;
    width: 50%;
    background: #fff;
    margin-top: 90px;
    padding: 25px 0 30px;
    text-align: left;
    border-top: 6px solid #b18596;
    border-bottom: 6px solid #b18596;
  }
  .bl-supply h2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  .bl-supply h3 {
    font-size: 20px;
  }
  .bl-supply .block_order {
    position: relative;
    background: #fffafb;
    overflow: hidden;
    padding: 24px 0;
    padding-left: 40px;
    padding-right: 30px;
  }
  .bl-supply .header-supply,
  .bl-supply .footer-supply {
    clear: both;
    padding-left: 40px;
    padding-right: 30px;
  }
  .block_cost {
    font-size: 21px;
    overflow: hidden;
    max-width: 190px;
    color: #2d343d;
  }
  .block_cost_add {
    font-size: 17px;
    margin: 15px auto 20px auto;
  }
  .block_cost_add h3 {
    font-size: 18px;
  }
  .block_cost_add .btn-orn {
    padding: 11px 15px;
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
  }
  .block_cost .old_cost {
    color: #787673;
  }
  .block_cost .old_cost span {
    text-decoration: line-through;
  }
  .block_cost .new_cost {
    float: right;
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    color: #c41036;
  }
  header {
    padding: 12px 0 0px;
    min-width: 320px;
  }
  header .block_logo {
    float: left;
    display: none;
  }
  header a.do_order {
    display: none;
  }
  header nav {
    float: none;
    color: #2d343d;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  header nav ul {
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
  }
  header li {
    margin: 9px 0px 9px 20px;
    width: auto;
    float: none;
    text-align: left;
    position: relative;
    display: inline-block;
    float: none;
  }
  header li a:hover {
    color: #626b79;
  }
  .main {
    background: #fff2e6 url("../img/bg_main.jpg") no-repeat 50% 0;
    background-size: cover;
    height: auto;
    min-width: 320px;
    width: 100%;
    padding-bottom: 15px;
  }
  .main .content {
    width: 320px;
    padding: 0;
  }
  .main .wrap_img {
    width: 100%;
  }
  .main .bl_img {
    margin-top: 0px;
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .main .bl_img img{
    margin-top: 10px;
  }
  .main .bl_img .discount {
    bottom: 32px;
    left: 0px;
    font-size: 18px;
    width: 199px;
    text-align: center;
  }
  .main .bl_img .discount span {
    font-size: 61px;
  }
  .main .bl_img .action100 {
    position: absolute;
    bottom: 50px;
    left: 0px;
    text-align: left;
    font-weight: 700;
    color: #fff;
    font-size:0;
  }
  .main .bl_img .action100 span {
    display: inline-block;
    font-size:20px;
    background: #c41036;
    padding:7px 25px 10px 25px;
    font-weight: 900;
  }
  .main .bl_img .action100 span.hd_act {font-size:26px;padding:15px 25px 5px;}

  .main .bl_txt {
    height: auto;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 345px;
  }
  .main .bl_txt:after {
    display: none;
  }
  .main .bl_txt .header-supply {
    height: auto;
  }
  .main .bl_txt h2 {
    font-weight: 900;
  }
  .main .bl_txt h2 span {
    display: block;
  }
  .main .block_order {
    margin: 10px 0;
    height: 165px;
  }
  .main .block_cost {
    width: 88%;
    float: left;
  }
  .main .do_order {
    float: left;
    width: 190px;
    height: 35px;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  .main .limit {
    font-size: 14px;
    font-weight: 500;
  }
  .composition .floatli li:last-child{
    display: none;
  }
  .composition {
    background: #fffafb;
    padding-bottom: 25px;
  }
  .composition li {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  }
  .composition li +li{
    margin-left: 0;
  }
  .speakers ul{
    text-align: center;
    margin: auto;
    overflow: hidden;
  }
  .not_showed {
    max-height: 350px;
    transition: max-height 0.5s ease-out;
  }
  .showed {
    max-height: 3500px;
    transition: max-height 0.5s ease-in;
  }
  .speakers li {
    width: 45%;
    overflow: hidden;
    vertical-align: top;
    height: auto;
    margin: 20px 0;
    text-align: center;
    float: none;
    ver
  }
  .speakers li:nth-child(3n+2){
    margin: 20px 0;
  }
  .speakers li h3 {
    margin-bottom: 3px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  .speakers li .txt {
    color: #6e523d;
    font-size: 12px;
    text-align: center;
    margin: auto;
  }
  .speakers li:nth-child(3n+2){
    margin: 20px 0;
  }
  .speakers li .block_img {
    float: left;
    margin: auto;
    width: 100%;
    margin-bottom: 25px;
  }
  .speakers li .block_img img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
  }
  .expert {
    padding-bottom: 0;
    background: #fffafb;
  }
  .expert .bl_img {
    float: none;
    width: 70%;
    display: inline-block;
    position: relative;
    margin: auto;
  }
  .expert .bl_img img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #d2a5ae;
  }
  .expert .bl_txt {
    float: none;
    text-align: left;
    width: 90%;
    background: url("../img/quot.png") no-repeat 95% 95%;
    margin: 25px auto 15px auto;
    background-position: right 15px;
  }
  .expert .bl_txt .txt {
    font-size: 16px;
    font-weight: 400;
  }
  .expert .bl_txt .txt span {
    display: block;
    position: relative;
    margin-top: 2px;
    float: left;
    padding-right: 6px;
    font: 36px/1 'PFAdamantPro-Bold';
  }
  .expert .bl_txt .name {
    margin: 5px 0 15px 0;
    color: #b86526;
    float: left;
    width: 100%;
  }
  .expert .bl_txt .profile {
    float: left;
    font-size: 14px;
    margin: 10px 0;
    width: 100%;
  }
  .expert .bl_txt .profile span {
    display: block;
  }
  .block_discount {
    padding: 20px 0 10px;
    background: url("../img/bg_ftform.jpg") no-repeat 50%;
    background-size: cover;
  }
  .block_discount .do_order_discount {
    margin-top: 0;
    width: 100%;
    margin-right: 0;
    text-align: left;
    margin:auto;
  }
  .block_discount .do_order_discount h2 {
    position: relative;
    background: #fff;
    padding: 15px 0 0 0px;
    height: auto;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
  }
  .block_discount .do_order_discount h2:before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    right: -40px;
    height: 105px;
    width: 40px;
    background: url("../img/arr.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .block_discount .do_order_discount h2 span {
    display: block;
  }
  .block_discount .do_order_discount .get_discount {
    display: none;
  }
  .block_discount .do_order_discount .describe {
    margin-top:15px;
    color: #fff;
  }

  .block_discount .bl_img_discount {
    display: none;
  }

  .block_discount .discrount_cost {
    position: relative;
    margin-top: 25px;
    height: 135px;
    padding: 12px 10px 10px;
    background: #fff;
    width: 100%;
    border-top: 6px solid #b18596;
    border-bottom: 6px solid #b18596;
  }
  .block_discount .discrount_cost:before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: -40px;
    height: 123px;
    width: 40px;
    background: url("../img/arr.png") no-repeat 0 0;
  }
  .block_discount .discrount_cost ul {
    width: 135px;
    margin: 0px auto;
  }
  .block_discount .discrount_cost h3 {
    margin-bottom: 4px;
    font-size: 15px;
  }
  .block_discount .discrount_cost .old_cost {
    font-size: 16px;
  }
  .block_discount .discrount_cost .new_cost {
    font-size: 22px;
  }
  .block_discount .discrount_cost .do_order {
    padding: 7px 0;
    width: 85%;
    margin: 10px auto 0 auto;
  }
  .what_get {
    background: #fffafb;
  }
  .what_get li {
    width: 100%;
    height: 148px;
    text-align: left;
    background: #fff;
    margin-bottom: 3%;
    border-radius: 6px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.1);
    margin: 15px auto;
    position: relative;
  }
  .what_get li:nth-child(even) {
    margin-left: 0;
  }
  .what_get li .bl_img {
    width: 20%;
    position: relative;
    background: #c41036;
    height: 100%;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .what_get li .bl_img:after {
    content: '';
    position: absolute;
    background: transparent;
    width: 0;
    height: 0;
    border: 74px solid transparent;
    border-left: 24px solid #c41036;
    left: 100%;
    top: 0;
  }
  .what_get li .bl_txt {
    padding: 21px;
    float: none;
    width: 75%;
    margin-top: 7px;
    position: absolute;
    display: block;
    top: -15px;
    left: 75px;
  }
  .what_get li h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .what_get li .txt {
    color: #515b67;
    font-size: 11px;
    line-height: 1.4;
  }
  .feedbacks {
    padding-bottom: 20px;
  }
  .feedbacks_ul {
    overflow: hidden;
  }
  .feedbacks_ul_hidden {
    max-height: 320px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .feedbacks_ul_showed {
    max-height: 1320px;
    transition: max-height 0.5s ease-out;
  }

  .feedbacks li {
    width: 90%;
    text-align: left;
    height: auto;
    margin-bottom: 50px;
  }
  .feedbacks li:last-child {
    margin-bottom: 0px;
  }
  .feedbacks li:nth-child(even) {
    margin-left: 0;
  }
  .feedbacks li .bl_txt {
    float: right;
    width: 100%;
    margin-top: 10px;
  }
  .feedbacks li h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .feedbacks li .txt {
    color: #515b67;
    font-size: 14px;
    font-style: italic;
  }
  .feedbacks .location {
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: #515b67;
  }
  .feedbacks .location:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/sprite.png") 0 0;
    width: 9px;
    height: 13px;
  }
  .how_get {
    background: #fffafb;
    padding-bottom: 45px;
  }

  .how_get li {
    position: relative;
    width: 100%;
    height: 82px;
    background: #fff;
    padding: 15px 20px 15px;
    text-align: left;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    position: relative;
  }

  .how_get li::before {display: none;}

  .how_get li img {
    margin: 5px 12px 0 0;
  }
  .how_get .bl_txt {
    width: 80%;
  }
  .how_get .bl_txt .txt {
    width: 96%;
  }
  .how_get .describe {
    position: relative;
    padding-left: 41px;
    height: 15px;
    line-height: 15px;
    text-align: left;
    margin: 0;
    font-size: 12px;
  }
  .how_get .describe:before {
    content: " ";
    position: absolute;
    left: 17px;
    top: 5px;
    background: url("../img/sprite.png") 0 -13px;
    width: 15px;
    height: 15px;
  }
  .footer_form {
    background: #7e644b url("../img/bg_ftform.jpg") no-repeat 50% 0;
    background-size: cover;
    height: 590px;
  }
  .footer_form .bl_img {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .footer_form .bl_img .wrap_img {
    width: 100%;
    position: relative;
  }
  .footer_form .bl_img img {
    width: 97%;
    margin-top: 40px}

  .footer_form .bl_img .describe {
    color: #fff;
    font-size: 10px;
    bottom: -20px;
    left: 0;
  }
  .footer_form .bl_txt {
    width: 100%;
    margin-top: 35px;
    padding: 25px 0 0 0;
  }
  .footer_form .bl_txt .wrap-supply {
    width: 100%;
  }
  .footer_form .bl_txt h2 {
    font-size: 17px;
    width: 100%;
  }
  .footer_form .bl_txt h2 span.min_cost {
    display: block;
  }

  .footer_form .bl_txt .describe {
    font: 700 14px/1.5 'Roboto';
    margin: 12px 0 27px;
    text-align: center;
  }
  .footer_form .bl_txt .describe span {
    display: inline-block;
    padding: 0 4px;
    background: #c41036;
    color: #fff;
    text-transform: uppercase;
  }
  .footer_form .header-supply {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .footer_form .block_order {
    padding: 0 5px 0 0;
    width: 100%;
    padding-right: 0;
    margin: auto;
    text-align: center;
    display: block;
  }
  .footer_form .block_footer_form {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 5px;
  }
  .footer_form .discount {
    float: left;
    background-image: url("../img/part_disc1.png");
    margin: 15px auto 0 auto;
    width: 50%;
    height: 75px;
    text-align: center;
    font-size: 13px;
    position: relative;
    display: block;
    left: 25%;
  }
  .footer_form .discount span {
    font-size: 44px;
  }
  .footer_form .block_cost {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    position: relative;
    left: 20%;

  }
  .conf {text-align: center;font-size:12px;}
  .block_timer {
    display: none;
  }
  footer {
    padding: 25px 0 35px;
  }
  footer a.block_logo {
    display: none;
    float: right;
    opacity: 0.2;
  }
  footer .block_footer_links {
    float: left;
    text-align: left;
  }
  footer .block_footer_links li {
    margin-right: 40px;
    color: #8a2339;
    font-size: 11px;
  }
  footer .block_footer_links li:hover {
    color: #45121d;
  }
  footer .block_footer_links .rights {
    color: #6f7174;
    font-size: 10px;
    margin-top: 20px;
  }

  /* нижняя форма*/
  div.next {margin-top:20px;width:270px;height:40px;background: #c41036;line-height: 40px;text-align: center;cursor: pointer;
  color:#fff;text-transform: uppercase;border-radius: 20px;font-size: 16px;font-weight: 700;}
  div.next:hover {opacity: 0.8;}


  .form-block {margin-bottom: 10px;}
  .promo, .bl_sbm {margin-top:10px;}
  label {display: block;font-size:14px;line-height:1.1;text-align: center;}

  .form-block#name-block,
  .form-block#phone-block,
  #submit-button,
  .error {
      display: none;
  }

  .error a{
      color: #0000C0;
  }

  a.pr {
    display: none;
    margin: 10px 0;
    width: 268px;
    color: #0000fa;
    text-align: center;
    font-size:13px;
    text-decoration: underline;
    cursor: pointer;
  }
  .promo {display: none;}

  .hurry_get {position:relative;margin-top:  -5px;height: 36px;width: 90%;
    background: #fff;text-align:center;font:14px/36px 'HelveticaNeueCyr-Bold';float:left;}
  .hurry_get:after {
    background: transparent;content: '';position: absolute;
    width: 0;height: 0;border: 18px solid transparent;
    border-left: 20px solid #fff; left: 100%; top: 0;
  }

  /*таймер*/
      .countdown {height: 123px;text-align: center;}

      .dash { width: 60px;height: 90px;float: left;position: relative;margin-right: 20px;
        background: rgba(242,239,236,0.8);border:9px solid #fff;padding:15px 15px 0;
        border-radius:5px;box-sizing: content-box;
      }

      .dash .digit {float: left;position: relative;width: 30px;
        color: #45392a;font:bold 48px 'HelveticaNeueCyr-Bold';
      }

      .dash_title {position: absolute;display: block;bottom: 25px;left:0;width: 100%;text-align: center;
        color: #505357;font-size: 10px;font-weight:bold;letter-spacing: 2px;
      }
      .days_dash {display: none;}
  /*таймер*/
}
