/* font-family: "PFDinDisplay"; */
@font-face {
	font-family: "PFDinDisplay";
	src: url("../fonts/PFDinDisplay/PFDinDisplay.eot");
	src: url("../fonts/PFDinDisplay/PFDinDisplay.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinDisplay/PFDinDisplay.woff") format("woff"),
	url("../fonts/PFDinDisplay/PFDinDisplay.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/* font-family: "PFDinMedium"; */
@font-face {
	font-family: "PFDinMedium";
	src: url("../fonts/PFDinMedium/PFDinMedium.eot");
	src: url("../fonts/PFDinMedium/PFDinMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinMedium/PFDinMedium.woff") format("woff"),
	url("../fonts/PFDinMedium/PFDinMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
