@charset "UTF-8";
body {
  padding: 0;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .container {
    margin: auto;
    width: 320px;
  }
  /* ---HEADER--- */
  header .navigation {
    height: 124px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .logo {
    width: 100%;
    display: inline-block;
    float: none;
    text-align: center;
    margin: auto;
  }
  .logo img {
    width: 146px;
    padding-top: 15px;
  }
  .logo .logo_text {
    font-size: 10px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .nav {
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
  }
  .nav li {
    padding-right: 13px;
    display: inline-block;
  }
  .nav li a {
    font-family: "Roboto", sans-serif;
    color: #3c3c3a;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
  }
  .nav li a:hover {
    color: #af8664;
  }
  .nav li:last-child {
    padding-right: 0;
  }
  .phone {
    direction: ltr;
    width: 150px;
    text-align: center;
    display: none;
    float: right;
    padding-top: 10px;
  }
  .phone .phone_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #5e5e5e;
  }
  .phone .phone_number {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #af8664;
    position: absolute;
  }
  .phone .phone_number span {
    font-weight: 600px;
    color: #804412;
  }
  .phone .phone_number::before {
    content: "";
    top: 5px;
    left: 2px;
    padding-right: 18px;
    margin-right: 14px;
    background-image: url("../img/phone_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  /* ---END-HEADER--- */
  /* ---FIRST-SECTION--- */
  .main {
    height: 740px;
    background-image: url("../img/section_1_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 555;
  }
  .promo_text {
    text-align: center;
    padding-top: 52px;
  }
  .promo_text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #404040;
    margin: 0;
  }
  .promo_text h1 span {
    font-weight: 800;
    font-size: 31px;
    color: #987754;
    text-transform: uppercase;
  }
  .promo_text p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #676767;
  }
  .promo_block {
    height: 300px;
    width: 100%;
    margin: 0;
  }
  .bullets {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  .bullets .bullet {
    padding: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 28.5px;
    margin-bottom: 12px;
    text-align: left;
    display: inline-block;
    align-items: center;
  }
  .bullets .bullet img {
    display: inline-block;
    padding-right: 10px;
  }
  .bullets .bullet p {
    display: inline-block;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #804412;
    vertical-align: top;
  }
  .promo_discount {
    width: 100%;
    height: 265px;
    background-image: none;
    background-size: cover;
    background-size: 0;
    padding-right: 0;
    float: none;
    display: inline-block;
    background-color: #fff;
    margin-top: 50px;
  }
  .promo_discount .cont {
    float: none;
    margin: auto;
    text-align: center;
  }
  .promo_discount .name {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #9a8261;
  }
  .promo_discount .discount {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #535353;
  }
  .price {
    margin-top: 15px;
  }
  .old_price {
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #787673;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
  }
  .old_price::before {
    border-bottom: 2px solid #787673;
    position: absolute;
    content: "";
    width: 46px;
    height: 48%;
    left: -3px;
  }
  .old_price::after {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    content: "";
    background-image: url("../img/price_gray.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 13px;
    width: 11px;
  }
  .new_price {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 36.6px;
    color: #8f6238;
    vertical-align: top;
  }
  .new_price::after {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    content: "";
    background-image: url("../img/price_new.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 26px;
    width: 23px;
  }
  button {
    margin-top: 17px;
    text-transform: uppercase;
    width: 235px;
    height: 45px;
    border-radius: 23px;
    background-color: #804412;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }
  .promo_add {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
  }
  /* ---SECOND-SECTION--- */
  .three_secrets {
    height: 687px;
    background-color: #fff;
  }
  .block_head p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #816950;
  }
  .head {
    padding-top: 30px;
  }
  .head img {
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;
    margin-top: 7px;
  }
  .head .text {
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    top: -5px;
    width: 85%;
  }
  .secrets {
    width: 100%;
    float: none;
    margin: auto;
  }
  .text_promo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    padding-top: 10px;
  }
  .block_add {
    height: 630px;
    background-color: #966941;
  }
  .secrets_img {
    display: none;
  }
  /* ---FOOTER--- */
  footer {
    height: 126px;
    background-color: #6c5d50;
  }
  footer .logo {
    width: 140px;
    padding-top: 0;
  }
  footer .logo .logo_text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
  }
  footer .logo .copyright {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    padding-top: 10px;
  }
  footer .phone {
    display: block;
    position: relative;
    padding: 20px 0 0 0;
    vertical-align: 10px;
    text-align: left;
  }
  footer .phone .phone_text {
    color: #fff;
  }
  footer .phone .phone_footer {
    padding-top: 2px;
  }
  footer .phone .phone_footer .number {
    padding-left: 3px;
    font-size: 14px;
  }
  footer .phone .email_footer {
    padding-top: 10px;
  }
  footer .phone .email_footer .number {
    padding-left: 0px;
    font-size: 10px;
  }
  footer .phone img {
    display: inline-block;
    vertical-align: middle;
  }
  footer .phone .number {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  /* ---THIRD-SECTION--- */
  .before_after {
    height: 750px;
    background-image: url("../img/before_after_bg.png");
    background-size: cover;
    background-position: right;
    text-align: center;
  }
  .head_text {
    padding-top: 40px;
  }
  .head_text h2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #836c53;
  }
  .head_text p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #404040;
  }
  .head_text p::after {
    content: "";
    margin: 15px auto 0 auto;
    display: block;
    position: relative;
    width: 140px;
    height: 6px;
    background-color: #ead7c0;
  }
  .defect {
    width: 150px;
    display: inline-block;
    margin-right: 0;
    margin-top: 20px;
  }
  .defect:last-child {
    margin-right: 0;
  }
  .before_after_img {
    height: 140px;
    width: 140px;
    background-color: #fff;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
    background-color: #ead7c0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  }
  .bai_0 {
    background-image: url("../img/t_section_0.png");
    background-position: -30px -10px;
    background-size: 145%;
    background-repeat: no-repeat;
  }
  .bai_1 {
    background-image: url("../img/t_section_1.png");
    background-position: -60px 0px;
    background-size: 145%;
    background-repeat: no-repeat;
  }
  .bai_2 {
    background-image: url("../img/t_section_2.png");
    background-position: -15px -10px;
    background-size: 122%;
    background-repeat: no-repeat;
  }
  .bai_3 {
    background-image: url("../img/t_section_3.png");
    background-position: -56px -18px;
    background-size: 176%;
    background-repeat: no-repeat;
  }
  .main_text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ab794a;
    text-align: left;
    margin-top: 15px;
  }
  .descr {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
    color: #4e4e4e;
    margin-top: 5px;
  }
  /* ---FOUR-SECTION--- */
  .in_action {
    height: 1445px;
    text-align: center;
  }
  .in_action h2::after {
    content: "";
    margin: 15px auto 0 auto;
    display: block;
    position: relative;
    width: 140px;
    height: 6px;
    background-color: #ead7c0;
  }
  .in_action .promo_discount {
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.15));
    margin-top: 115px;
  }
  .in_action_container {
    height: 540px;
  }
  .in_action_container .promo_discount {
    margin-top: 20px;
  }
  .video_block {
    float: none;
    margin: 20px auto 0 auto;
  }
  .video_block h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #404040;
  }
  .video_block iframe {
    width: 320px;
    height: 190px;
    margin: auto;
  }
  .step {
    display: block;
    margin-right: 0;
    height: 325px;
    width: 100%;
    text-align: left;
  }
  .step h4 {
    margin: 60px 0 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #404040;
  }
  .step h4 span {
    color: #c08e59;
  }
  .step p {
    margin: 0px 0 15px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #404040;
  }
  .step .details {
    margin-left: 0;
    margin-top: 10px;
    font-family: "Rooto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #404040;
  }
  .step_img {
    margin-top: 0;
    height: 90px;
  }
  .step_img img {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
  }
  .step_img img:first-child {
    margin-left: 0;
  }
  /* ---FIVE-SECTION--- */
  .efficiency {
    height: 1690px;
    background-image: url("../img/section_5_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
  }
  .efficiency p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #535353;
  }
  .efficiency .container_1 {
    margin-top: 50px;
    height: 470px;
    background-image: none;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .efficiency .container_1 .advantages {
    clear: both;
    width: 295px;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }
  .efficiency .container_1 .advantages img {
    display: inline-block;
    width: 31px;
    vertical-align: top;
    margin-right: 10px;
  }
  .efficiency .container_1 .advantages .text_adv {
    width: 250px;
    display: inline-block;
    text-align: left;
  }
  .efficiency .container_1 .advantages .text_adv .text_0 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #976945;
  }
  .efficiency .container_1 .advantages .text_adv .text_1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: black;
  }
  .efficiency .container_1 .left {
    float: none;
    width: 100%;
  }
  .efficiency .container_1 .right {
    float: none;
    width: 100%;
  }
  .efficiency .container_1 .right_el {
    float: right;
  }
  .s_text h2 {
    clear: both;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #474747;
    position: relative;
  }
  .s_text h2 span {
    font-weight: 800;
    color: #976945;
  }
  .container_2 {
    height: 670px;
    margin-top: 45px;
  }
  .stick {
    width: 100%;
    display: inline-block;
    padding-right: 0;
    position: relative;
  }
  .stick::after {
    content: "=";
    position: absolute;
    float: none;
    top: 310px;
    left: 150px;
    font-family: "Roboto", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: #342011;
  }
  .stick_name {
    background-color: #6a5036;
    width: 233px;
    padding: 6px 0;
    border-radius: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    margin: 12px auto;
  }
  .another_name {
    margin-top: 12px;
    color: #6a5036;
    width: 233px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 19px;
  }
  .equally {
    width: 180px;
    height: 360px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 56.5px;
    color: #342011;
  }
  .another_facilities {
    width: 235px;
    display: inline-block;
    margin: 70px auto;
  }
  /* ОТЗЫВЫ */
  .reviews {
    text-align: center;
    padding: 30px 0;
  }
  .reviews h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #ad9777;
  }
  .reviews h2::after {
    content: "";
    margin: 15px auto 0 auto;
    display: block;
    position: relative;
    width: 140px;
    height: 6px;
    background-color: #ead7c0;
  }

  .rew {
    width: 100%;
    height: 220px;
    display: inline-block;
    margin-bottom: 50px;
    vertical-align: center;
  }

  .rew .img_block img {
    position: absolute;
    max-height: 130px;
    max-width: 130px;
    border-radius: 100%;
    top: 0;
    left: 80px;
  }
  .rew .img_block{
    position: relative;
    height: 130px;
    width: 100%;
    float: left;
    margin-left: 15px;
    margin-top: 19px;
  }

  .rew .rew_block {
    width: 100%;
    float: none;
    margin-top: 20px;
    text-align: center;
  }
  .rew .rew_name {
    float: none;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #976945;
  }
  .rew .rew_text {
    float: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #black;
  }
  /* Инструкция по применению */
  .how_to_use {
    height: 1845px;
    text-align: center;
    background-image: url("../img/section_5_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .how_to_use .container_0 {
    margin-bottom: 50px;
    width: 100%;
  }
  .htu_stick_img {
    float: none;
    width: 100%;
  }
  .htu_stick_block {
    height: 240px;
    width: 100%;
    float: none;
  }
  .htu_stick_block .first::before {
    content: "1";
    background-color: #6fa22c;
    margin-top: 6px;
  }
  .htu_stick_block .second::before {
    content: "2";
    background-color: #0787d9;
    margin-top: 14px;
  }
  .htu_stick_block .third::before {
    content: "3";
    background-color: #d9a007;
    margin-top: 6px;
  }
  .htu_stick_block .fourth::before {
    content: "4";
    background-color: #a2322c;
    margin-top: 6px;
  }
  .step_htu {
    height: 40px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  .step_htu .main_step {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
    margin-top: 15px;
  }
  .step_htu .description_step {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #212121;
  }
  .step_htu::before {
    height: 25px;
    width: 25px;
    float: left;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 9pt;
    margin-right: 10px;
  }
  .htu_container {
    height: 520px;
  }
  .how_to_img {
    height: 1045px;
  }
  .how_to_step {
    width: 140px;
    height: 220px;
    vertical-align: top;
    display: inline-block;
    margin: 20px 0;
    position: relative;
  }
  .how_to_step .number_step {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #674830;
    line-height: 25px;
    border-radius: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    top: 5px;
    left: 5px;
  }
  .how_to_step img {
    width: 140px;
  }
  .how_to_step .htu_text {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: black;
  }
  .period {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12.2px;
    color: #7e674e;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
  }
  /* СЕКЦИЯ НАУЧНО ДОКАЗАННО*/
  .scince {
    height: 990px;
    background-color: #fff;
    text-align: center;
  }
  .sc_text {
    margin: 20px auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #7f7d7d;
  }
  .scince_container {
    margin-top: 30px;
    background-image: none;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 612px;
  }
  .scince_container .left_sc {
    float: none;
    margin-top: 50px;
  }
  .scince_container .right_sc {
    float: none;
    margin-top: 0;
  }
  .sc_block {
    height: 33px;
    width: 100%;
    background-color: #393939;
    border-radius: 16.5px;
    line-height: 33px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
  }
  .sc_block span {
    color: #eed79f;
  }
  /* ДОСТАВКА*/
  .delivery {
    height: 525px;
    background-image: url("../img/before_after_bg.png");
    background-size: cover;
    background-position: left;
    text-align: center;
  }
  .delivery_container {
    height: 450px;
    background-image: url("../img/map.png");
    background-size: 93%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .delivery_b {
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 46px;
  }
  .delivery_b img {
    display: inline-block;
    vertical-align: sub;
    top: 3px;
    position: relative;
    margin-right: 10px;
  }
  .delivery_b .d_text {
    display: inline-block;
    line-height: 46px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #69492f;
  }
  .d_left {
    float: left;
  }
  .d_right {
    float: right;
  }
  /* ПОСЛЕДНЯЯ СЕКЦИЯ */
  .last_section {
    height: 550px;
    text-align: center;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: #404040;
  }
  h1 span {
    color: #aa9475;
    font-weight: 700;
  }
  .form_container {
    height: 339px;
    width: 100%;
    background-image: none;
    background-size: 80%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .form_container form {
    height: 230px;
    width: 100%;
    float: none;
    margin-top: 20px;
    margin-right: 123px;
  }
  .form_container form input {
    margin-top: 25px;
  }
  .form_container form button {
    margin-top: 10px;
  }
  input {
    width: 235px;
    height: 35px;
    border: 2px solid #71625b;
    border-radius: 19px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #56534f;
  }
  .price {
    margin: 0;
  }
  .new_price {
    font-size: 25px;
  }
  .new_price::after {
    width: 15px;
    height: 18px;
  }
  .price_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #56534f;
  }
  .price_1 {
    display: inline-block;
    width: 150px;
  }
  .price_2 {
    display: inline-block;
    width: 150px;
  }
  .price_2 .old_price::before {
    content: none;
  }
  .price_text_0 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #787673;
    display: inline-block;
    width: 75px;
    line-height: 29px;
  }
  .old_price {
    display: inline-block;
    width: 60px;
  }
  .count {
    margin-top: 10px;
  }
  .count_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    color: #56534f;
    line-height: 25px;
  }
  .count_number {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #8f6238;
    line-height: 25px;
  }
  .count_control {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #56534f;
    line-height: 14px;
  }
  .up {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    user-select: none;
  }
  .down {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0;
    user-select: none;
  }
  .text_adv_form {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #976945;
  }
  .m_form {
    width: 275px;
    height: 320px;
    background-color: #fff;
    border: 7px solid #ead7c0;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    text-align: center;
  }
  .m_form h1 {
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #a08967;
  }
  .m_form input {
    margin-top: 30px;
  }
  .m_form p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #7a7a7a;
  }
  .m_form p span {
    font-weight: bold;
    color: #71625b;
  }
  .m_overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .percent {
    height: 65px;
    background-color: #f8f1e9;
    margin: 0;
    text-align: center;
  }
  .p_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #56534f;
    padding-top: 10px;
  }
  .p_block {
    margin: 7px auto;
    background-color: #ead7c0;
    width: 222px;
    height: 12px;
    border-radius: 6px;
  }
  .p_block .p_line {
    width: 80%;
    height: 12px;
    border-radius: 6px;
    background-color: #a37749;
  }
}
