@charset "UTF-8";
body {
  padding: 0;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #fff;
}

.container {
  margin: auto;
  width: 960px;
}

/* ---HEADER--- */
header .navigation {
  height: 62px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 200px;
  display: inline-block;
  float: left;
}

.logo img {
  width: 146px;
  padding-top: 15px;
}

.logo .logo_text {
  font-size: 10px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.nav {
  width: 385px;
  padding: 0 0 0 79px;
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
}

.nav li {
  padding-right: 27px;
  display: inline-block;
}

.nav li a {
  font-family: "Roboto", sans-serif;
  color: #3c3c3a;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
}

.nav li a:hover {
  color: #af8664;
}

.phone {
  width: 225px;
  text-align: center;
  display: inline-block;
  float: right;
  padding-top: 10px;
}

.phone .phone_text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #5e5e5e;
}

.phone .phone_number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #af8664;
  position: absolute;
}

.phone .phone_number span {
  font-weight: 600px;
  color: #804412;
}

.phone .phone_number::before {
  content: "";
  top: 5px;
  left: 2px;
  padding-right: 18px;
  margin-right: 14px;
  background-image: url("../img/phone_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* ---END-HEADER--- */
/* ---FIRST-SECTION--- */
.main {
  height: 800px;
  background-image: url("../img/section_1_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 555;
}

.promo_text {
  text-align: center;
  padding-top: 52px;
}

.promo_text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #404040;
  margin: 0;
}

.promo_text h1 span {
  font-weight: 800;
  font-size: 31px;
  color: #987754;
  text-transform: uppercase;
}

.promo_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #676767;
}

.promo_block {
  height: 245px;
}

.bullets {
  float: left;
  margin-top: 100px;
  width: 450px;
}

.bullets .bullet {
  padding: 5.5px 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 28.5px;
  margin-bottom: 12px;
  text-align: center;
  display: inline-block;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bullets .bullet img {
  display: inline-block;
  padding-right: 10px;
}

.bullets .bullet p {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #804412;
  vertical-align: top;
}

.promo_discount {
  width: 275px;
  height: 265px;
  background-image: url("../img/form_bg.png");
  background-size: cover;
  background-size: 100% 100%;
  padding-right: 23px;
  float: right;
  margin-top: 50px;
}

.promo_discount .cont {
  float: right;
  text-align: center;
}

.promo_discount .name {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #9a8261;
}

.promo_discount .discount {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #535353;
}

.price {
  margin-top: 15px;
}

.old_price {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #787673;
  margin-top: 5px;
  margin-right: 10px;
  position: relative;
}

.old_price::before {
  border-bottom: 2px solid #787673;
  position: absolute;
  content: "";
  width: 46px;
  height: 48%;
  left: -3px;
}

.old_price::after {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  content: "";
  background-image: url("../img/price_gray.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13px;
  width: 11px;
}

.new_price {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36.6px;
  color: #8f6238;
  vertical-align: top;
}

.new_price::after {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  content: "";
  background-image: url("../img/price_new.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26px;
  width: 23px;
}

button {
  margin-top: 17px;
  text-transform: uppercase;
  width: 235px;
  height: 45px;
  border-radius: 23px;
  background-color: #804412;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.promo_add {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
}

/* ---SECOND-SECTION--- */
.three_secrets {
  height: 388px;
  background-color: #fff;
}

.block_head p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #816950;
}

.head {
  padding-top: 30px;
}

.head img {
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
}

.head .text {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  top: -5px;
}

.secrets {
  width: 530px;
  float: left;
}

.text_promo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding-top: 10px;
}

.block_add {
  height: 335px;
  background-color: #966941;
}

.secrets_img {
  margin-top: -95px;
  float: right;
}

/* ---FOOTER--- */
footer {
  height: 110px;
  background-color: #6c5d50;
}

footer .logo {
  width: 600px;
  padding-top: 14px;
}

footer .logo .logo_text {
  color: rgba(255, 255, 255, 0.5);
}

footer .logo .copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
}

footer .phone {
  position: relative;
  padding: 20px 0 0 0;
  vertical-align: 10px;
  text-align: left;
}

footer .phone .phone_text {
  color: #fff;
}

footer .phone .phone_footer {
  padding-top: 2px;
}

footer .phone .phone_footer .number {
  padding-left: 16px;
  font-size: 19px;
}

footer .phone .email_footer {
  padding-top: 10px;
}

footer .phone .email_footer .number {
  padding-left: 15px;
  font-size: 14px;
}

footer .phone img {
  display: inline-block;
  vertical-align: middle;
}

footer .phone .number {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
}

/* ---THIRD-SECTION--- */
.before_after {
  height: 525px;
  background-image: url("../img/before_after_bg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.head_text {
  padding-top: 40px;
}

.head_text h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #836c53;
}

.head_text p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #404040;
}

.head_text p::after {
  content: "";
  margin: 15px auto 0 auto;
  display: block;
  position: relative;
  width: 140px;
  height: 6px;
  background-color: #ead7c0;
}

.defect {
  width: 195px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 60px;
}

.defect:last-child {
  margin-right: 0;
}

.before_after_img {
  height: 192px;
  width: 192px;
  background-color: #fff;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  background-color: #ead7c0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.main_text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ab794a;
  text-align: left;
  margin-top: 15px;
}

.descr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: left;
  color: #4e4e4e;
  margin-top: 5px;
}

/* ---FOUR-SECTION--- */
.in_action {
  height: 900px;
  text-align: center;
}

.in_action h2::after {
  content: "";
  margin: 15px auto 0 auto;
  display: block;
  position: relative;
  width: 140px;
  height: 6px;
  background-color: #ead7c0;
}

.in_action .promo_discount {
  -webkit-filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.15));
  margin-top: 115px;
}

.in_action_container {
  height: 420px;
}

.video_block {
  float: left;
  margin-top: 20px;
}

.video_block h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: #404040;
}

.step {
  display: inline-block;
  margin-right: 50px;
  height: 325px;
  width: 425px;
  text-align: left;
}

.step h4 {
  margin: 60px 0 0 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #404040;
}

.step h4 span {
  color: #c08e59;
}

.step p {
  margin: 10px 0 0 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #404040;
}

.step .details {
  margin-left: 35px;
  margin-top: 10px;
  font-family: "Rooto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #404040;
}

.step_img {
  margin-top: 10px;
  height: 90px;
}

.step_img img {
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
}

.step_img img:first-child {
  margin-left: 35px;
}

/* ---FIVE-SECTION--- */
.efficiency {
  height: 1238px;
  background-image: url("../img/section_5_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.efficiency p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #535353;
}

.efficiency .container_1 {
  margin-top: 50px;
  height: 470px;
  background-image: url("../img/section_5_promo_image.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.efficiency .container_1 .advantages {
  clear: both;
  width: 295px;
  height: auto;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 90px;
}

.efficiency .container_1 .advantages img {
  display: inline-block;
  width: 31px;
  vertical-align: top;
  margin-right: 10px;
}

.efficiency .container_1 .advantages .text_adv {
  width: 250px;
  display: inline-block;
  text-align: left;
}

.efficiency .container_1 .advantages .text_adv .text_0 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #976945;
}

.efficiency .container_1 .advantages .text_adv .text_1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: black;
}

.efficiency .container_1 .left {
  float: left;
  width: 470px;
}

.efficiency .container_1 .right {
  float: right;
  width: 470px;
}

.efficiency .container_1 .right_el {
  float: right;
}

.s_text h2 {
  clear: both;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #474747;
  position: relative;
}

.s_text h2 span {
  font-weight: 800;
  color: #976945;
}

.container_2 {
  height: 330px;
  margin-top: 45px;
}

.stick {
  width: 235px;
  display: inline-block;
  padding-right: 140px;
  position: relative;
}

.stick::after {
  content: "=";
  position: absolute;
  float: right;
  top: 130px;
  left: 290px;
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #342011;
}

.stick_name {
  margin-top: 12px;
  background-color: #6a5036;
  width: 233px;
  padding: 6px 0;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
}

.another_name {
  margin-top: 12px;
  color: #6a5036;
  width: 233px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.equally {
  width: 180px;
  height: 360px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 56.5px;
  color: #342011;
}

.another_facilities {
  width: 235px;
  display: inline-block;
}

/* ОТЗЫВЫ */
.reviews {
  text-align: center;
}

.reviews h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #ad9777;
}

.reviews h2::after {
  content: "";
  margin: 15px auto 0 auto;
  display: block;
  position: relative;
  width: 140px;
  height: 6px;
  background-color: #ead7c0;
}

.rew {
  width: 460px;
  height: 220px;
  display: inline-block;
  margin-bottom: 50px;
}

.rew img {
  height: 130px;
  float: left;
  margin-left: 15px;
  margin-top: 25px;
}

.rew .rew_block {
  width: 290px;
  float: right;
  margin-top: 20px;
}

.rew .rew_name {
  float: left;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #976945;
}

.rew .rew_text {
  float: left;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #black;
}

/* Инструкция по применению */
.how_to_use {
  height: 1090px;
  text-align: center;
  background-image: url("../img/section_5_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.how_to_use .container_0 {
  margin-bottom: 50px;
}

.htu_stick_img {
  float: left;
}

.htu_stick_block {
  height: 250px;
  width: 450px;
  float: right;
}

.htu_stick_block .first::before {
  content: "1";
  background-color: #6fa22c;
}

.htu_stick_block .second::before {
  content: "2";
  background-color: #0787d9;
}

.htu_stick_block .third::before {
  content: "3";
  background-color: #d9a007;
}

.htu_stick_block .fourth::before {
  content: "4";
  background-color: #a2322c;
}

.step_htu {
  height: 40px;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.step_htu .main_step {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212121;
}

.step_htu .description_step {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #212121;
}

.step_htu::before {
  height: 25px;
  width: 25px;
  float: left;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 9pt;
  margin-right: 10px;
}

.htu_container {
  height: 300px;
}

.how_to_img {
  height: 565px;
}

.how_to_step {
  width: 190px;
  height: 280px;
  vertical-align: top;
  display: inline-block;
  margin: 20px 20px;
  position: relative;
}

.how_to_step .number_step {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #674830;
  line-height: 35px;
  border-radius: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  top: -15.5px;
  left: -15.5px;
}

.how_to_step img {
  width: 180px;
}

.how_to_step .htu_text {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: black;
}

.period {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12.2px;
  color: #7e674e;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
}

/* СЕКЦИЯ НАУЧНО ДОКАЗАННО*/
.scince {
  height: 690px;
  background-color: #fff;
  text-align: center;
}

.sc_text {
  margin: 20px auto;
  width: 700px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #7f7d7d;
}

.scince_container {
  margin-top: 30px;
  background-image: url("../img/scince_serc.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 420px;
}

.scince_container .left_sc {
  float: left;
  margin-top: 50px;
}

.scince_container .right_sc {
  float: right;
  margin-top: 50px;
}

.sc_block {
  height: 33px;
  width: 275px;
  background-color: #393939;
  border-radius: 16.5px;
  line-height: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}

.sc_block span {
  color: #eed79f;
}
