@charset "UTF-8";
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #6d6d6d;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 960px;
  margin: auto;
  padding: 0;
}

section {
  min-width: 980px;
}

h1 {
  font-size: 36px;
  font-family: "MyriadProBold", sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.111;
  text-align: left;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-weight:300;
  color: #454545;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}
h2::after {
  content: "";
  width: 115px;
  height: 6px;
  margin: 30px auto 0 auto;
  position: relative;
  display: block;
  background-color: #e2e2e2;
}

/* HEADER */
header {
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: top center;
  padding: 0 0 180px 0;
  min-width: 980px;
  width: 100%;
}

.logo {
  display: inline-block;
  width: 125px;
  height: auto;
  margin-top: 20px;
  left: 0;
}

.head-mnu {
  display: inline-block;
  right: 0;
  float: right;
  margin-top: 35px;
}

.head-mnu_nav {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.head-mnu_nav a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0.5px 0.8px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: all 0.3s;
}
.head-mnu_nav a:hover {
  color: #f06e96;
}

.header-content {
  width: 100%;
  border-left: 6px solid #f06e96;
  margin-top: 100px;
  padding: 10px 0 10px 0;
}
.header-content h1 {
  margin: 0 0 0 30px;
}
.header-content p {
  font-size: 20px;
  font-family: "MyriadProSemiBold", sans-serif;
  color: #fff;
  text-align: left;
  text-shadow: 0px 1px 2.7px rgba(0, 0, 0, 0.6);
  margin-left: 30px;
}
.header-content p span {
  margin-top: 15px;
  font-family: "MyriadProRegular", sans-serif;
  font-size: 19px;
  position: relative;
  display: block;
}

/* First Section */
.first_section {
  padding: 80px 0 0 0;
}

.problems {
  text-align: center;
  margin-top: 40px;
}

.problem {
  width: 315px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 60px;
}

.problem-icon {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.problem-description {
  display: inline-block;
  width: 80%;
  text-align: left;
}

.problem-description_header {
  font-size: 16px;
  font-weight: 400;
  color: #2f2f2f;
  margin-bottom: 10px;
}

.problem-description_add {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  line-height: 1.2;
}

/* second section */
.second_section {
  padding: 50px 0 50px 0;
  position: relative;
  overflow: hidden;
  background-image: url("../img/second_section_img.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #f7f8f8;
}
.second_section img {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
}
.second_section .container {
  z-index: 1555000;
}
.second_section .wrapper {
  z-index: 200;
  float: right;
  width: 55%;
}
.second_section .left {
  text-align: left;
}
.second_section .left::after {
  left: 0;
  margin: 30px 0 0 0;
}

.price_block_text {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 3.266;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.second_section-list {
  padding: 0 0 0 20px;
}

.second_section-list_item {
  display: inline-block;
  width: 90%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  line-height: 1.2;
  text-align: left;
  list-style: circle;
  position: relative;
  margin: 10px 0 10px 0;
}
.second_section-list_item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  line-height: 1.8em;
  padding: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #866eb2;
}

/* Third Section */
.join_block_1 {
  padding: 20px 0;
  background-image: url("../img/third_section_bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.join_block_1 h3 {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  line-height: 2.078;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.price_block {
  background-image: url("../img/price_block_bg.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 50px;
  display: inline-block;
  margin: 20px auto 20px auto;
  vertical-align: middle;
}

.old_price {
  display: inline-block;
  width: 40%;
  height: 100%;
  position: relative;
}

.old_price_container {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 1.125;
  text-align: center;
  margin-top: 5px;
}
.old_price_container span {
  font-size: 21px;
  color: #fff;
  font-weight: bold;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  position: relative;
  z-index: 200;
}
.old_price_container span::before {
  content: "";
  position: absolute;
  border-top: 2px solid #fff;
  z-index: 300;
  width: 110%;
  height: 100%;
  top: 10px;
  transform: rotate(-10deg);
}

.new_price {
  display: inline-block;
  position: relative;
  font-size: 34px;
  color: #32394a;
  font-weight: bold;
  width: 57%;
  height: 100%;
  text-align: center;
}
.new_price i {
  font-size: 30px;
}

.button {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  line-height: 2.54;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  background-color: #d04d75;
  padding: 17px 25px;
  text-decoration: none;
  border: none;
  margin-left: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #b64769;
}

.fourth_section {
  padding: 50px 0;
}

.designed_for_people {
  vertical-align: top;
  text-align: center;
}
.designed_for_people .element {
  top: 0;
  width: 150px;
  height: 280px;
  display: inline-block;
  vertical-align: top;
  margin: 45px 10px;
}
.designed_for_people .element img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.designed_for_people .element p {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #2f2f2f;
  line-height: 1.2;
  position: relative;
  left: 15px;
}

.hobbies {
  text-align: center;
  margin-top: 50px;
}

.hobby {
  vertical-align: top;
  width: 160px;
  display: inline-block;
  margin: 40px 10px;
  text-align: center;
}
.hobby p {
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  color: #2f2f2f;
  line-height: 1.2;
}
.cost-animate {
  background: #f7f8f8;
  text-align:center;
  padding:30px 0;
}
.cost-animate .describe {
  font-size:25px;
  font-weight:300;
}
.cost-animate a {
  display:block;
  margin:20px auto 0 auto;
  width: 430px;
  line-height:1;
  }


.fourth_section .describe {
  margin-top:18px;
  text-align:center;
  font:300 18px "Roboto";
}


.fifth_section {
  padding: 30px 0;
  background-color: #f7f8f8;
  text-align: center;
}
.fifth_section h3 {
  font-size: 25px;
  font-weight: 300;
  color: #2f2f2f;
  line-height: 1.2;
}

.sixth_section {
  padding: 50px 0;
}

.consists {
  text-align: center;
  margin-top: 30px;
}

.consists_element {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 18px 0;
}
.consists_element img {
  display: inline-block;
  width: 20%;
  margin-right: 20px;
}

.consist_description {
  text-align: left;
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.consist_header {
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 400;
}

.consist_add {
  font-size: 14px;
  margin-top: 15px;
}

.seventh_section {
  background-image: url("../img/seventh_section_img.png");
}

/* certificate */
.certificate {
  padding: 45px 0;
  text-align: center;
  background: #fff url("../img/bg-diplom.jpg") no-repeat 50% 100%;
}
.certificate h3 {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  margin-top: 20px;
}
.certificate img {
  width: 60%;
  margin: 20px auto 0 0;
}

/* ╨Т╨╛╤Б╤М╨╝╨░╤П ╤Б╨╡╨║╤Ж╨╕╤П */
.eighth_section {
  padding: 50px 0;
}

.eighth_section_container {
  text-align: center;
  margin: 50px auto;
  overflow:hidden;
}

.left_column {
  float:left;
  width: 45%;
  padding:0 0 0 20px
}

.right_column {
  float:right;
  width: 45%;
  padding:0 0 0 20px
}

.eighth_section-element {
  width: 100%;
  display: inline-block;
  margin: 0 0 25px 0;
  vertical-align: top;
  text-align: left;
}

.eighth_section-element ul {
  margin:0;
  padding:0;
  list-style:none;
  color: #6d6d6d;
  font-size:13px;
}

.eighth_section-element_header {
  font-size: 18px;
  font-weight: 400;
  color: #2f2f2f;
  line-height: 1.2;
  position: relative;
  display: block;
  margin-bottom:12px;
}
.eighth_section-element_header:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  line-height: 1.8em;
  padding: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #866eb2;
}

/* Ninth section */
.ninth_section {
  padding: 50px 0;
  background-color: #f7f8f8;
  text-align:center;
}
.ninth_section .describe {
  margin:30px 0;
  font-size:18px;
  font-weight:300;
}
.ninth_section b {font-weight:500;}

.ninth_section_container {
  margin: 35px auto;
}

.ninth_section-item {
  width: 33%;
  display: inline-block;
}
.ninth_section-item img {
  width: 50px;
  margin-right: 15px;
}
.ninth_section-item .consist_add {
  margin-top: 5px;
}

/* STEPS */
.steps {
  padding: 50px 0;
}

.step {
  width: 125px;
  margin: 0 15px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.step:after {
  content: "";
  font-family: FontAwesome;
  color: #8c8ab2;
  font-size: 45px;
  position: absolute;
  top: 20px;
  left: 130px;
}

.steps_container {
  text-align: center;
  margin-top: 35px;
}

.hide-arrow::after {
  content: "";
}

.step_number {
  margin-top: 10px;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 500;
}

.step_add {
  margin-top: 7px;
  font-size: 13px;
  color: #6d6d6d;
}

/* Join Block 2 */
.join_block_2 {
  padding: 50px 0;
  background-image: url("../img/joim_block_2_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.join_block_2 h3 {
  width: 60%;
  margin: 0;
  font-size: 22px;
  color: white;
  line-height: 1.2;
  text-align: left;
  font-weight:400;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
}


.join_block_2 .button {
  padding: 15px 25px;
}

/* tenth section */
.tenth_section {
  padding: 50px 0 50px 0;
  position: relative;
  overflow: hidden;
  background-image: url("../img/author_photo.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: auto 100%;
}
.tenth_section .eighth_section-element_header {
  font-size: 14px;
}
.tenth_section img {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
}
.tenth_section .wrapper {
  float: right;
  width: 50%;
}
.tenth_section .left {
  text-align: left;
}
.tenth_section .left::after {
  left: 0;
  margin: 30px 0 0 0;
}

.author_name {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #504e81;
}
.author_name span {
  font-weight: 400;
}

.author_info {
  padding-left: 21px;
  margin-top: 20px;
}
.author_info span {
  margin-top: 10px;
  display: block;
}

/* questions section */
.questions {
  padding: 50px 0;
  background-color: #f7f8f8;
  text-align: center;
}

.questions_wrapp .question:nth-child(odd) {
  margin-right: 50px;
}

.questions_wrapp .question:last-child {
  margin-right: 0;
  width: 86%;
}

.questions_wrapp {
  text-align: center;
  margin-top: 30px;
}

.question {
  width: 40%;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
}

.question_header {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #2f2f2f;
  position: relative;
}
.question_header:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -30px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b26e7e;
  font-family: FontAwesome;
  color: #fff;
}

.question_add {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  margin-top: 10px;
}


.pref-kurs {
  background: #f7f8f8;
  padding:50px 0 60px;
}
.pref-kurs ul {
  list-style:none;
  margin:60px 0 0;
  padding:0;
  overflow:hidden;
}
.pref-kurs ul li {
  float:left;
  position:relative;
  width: 370px;
  padding-left:30px;
  margin:0 0 40px 80px;
  min-height:170px;
  font-size:14px;
}
.pref-kurs ul li:last-child {
  min-height:0;
}
.pref-kurs ul li .head {
  margin-bottom:8px;
  color: #2f2f2f;
  font-size:16px;
}

.pref-kurs ul li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #866eb2;
}



/* tenth section */
.guarantees {
  padding: 50px 0 80px 0;
  position: relative;
  overflow: hidden;
  background-image: url("../img/guarantees_bg.png");
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #fff;
}
.guarantees .wrapper {
  float: right;
  width: 50%;
}
.guarantees .left {
  text-align: left;
}
.guarantees .left::after {
  left: 0;
  margin: 30px 0 0 0;
}

.guarantees_text {
  margin-top: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #6d6d6d;
  line-height: 1.2;
  margin-top: 20px;
}
.guarantees_text span {
  margin-top: 10px;
  display: block;
}

/* Footer */
footer {
  padding: 30px 0;
  min-width: 980px;
  background-color: #fff;
}

footer .container .logo {
  position: relative;
  float: right;
  width: 150px;
  height: auto;
  padding-top: 20px;
  background-repeat: no-repeat;
}

footer .footer_info {
  padding-top: 20px;
}

footer .footer_info a {
  font-family: "HelveticaR", sans-serif;
  font-size: 13px;
  color: #414141;
  padding: 0 40px 0 0;
  margin: 0;
  text-decoration: none;
}

footer .footer_info a:hover {
  color: #d9466c;
}

footer .wrap {
  width: 800px;
  float: left;
  height: 100%;
}

footer .wrap .copyright {
  padding-top: 25px;
  font-family: "HelveticaR", sans-serif;
  font-size: 12px;
  color: #6f7174;
}

/* Results */
.results {
  padding: 50px 0;
  background-color: #f7f8f8;
  text-align: center;
}

.results .block-video {
  margin:20px auto 20px auto;
  width: 600px;
}

.results_owl {
  margin: 40px 0;
}

.result_block {
  margin: auto;
  height: 300px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.result_block img {
  left: 0;
  float: left;
  display: inline-block !important;
  width: 100%;
  height: auto;
}

.result_block_content {
  width: 60%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Testimonials */
.testimonials {
  padding: 45px 0;
  text-align: center;
}

.testimonial:focus {
  outline: none;
}
.testimonial .author_name {
  font-size: 18px;
  font-weight: 500;
  color: #504e81;
}
.testimonial .author_name span {
  font-weight: 300;
}
.testimonial .author_info {
  font-size: 15px;
  font-weight: 300;
  color: #6d6d6d;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
