body {
  padding: 0;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .container {
    margin: auto;
    width: 320px;
  }
  header .navigation {
    height: 62px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .logo {
    width: 100%;
    display: inline-block;
    float: none;
    text-align: center;
    margin: auto;
  }
  .logo img {
    width: 146px;
    padding-top: 15px;
  }
  .logo .logo_text {
    font-size: 10px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  .nav {
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
  }
  .nav li {
    padding-right: 13px;
    display: inline-block;
  }
  .nav li a {
    font-family: "Roboto", sans-serif;
    color: #3c3c3a;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
  }
  .nav li a:hover {
    color: #af8664;
  }
  .nav li:last-child {
    padding-right: 0;
  }
  .phone {
    direction: ltr;
    width: 150px;
    text-align: center;
    display: none;
    float: right;
    padding-top: 10px;
  }
  .phone .phone_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #5e5e5e;
  }
  .phone .phone_number {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #af8664;
    position: absolute;
  }
  .phone .phone_number span {
    font-weight: 600px;
    color: #804412;
  }
  .phone .phone_number::before {
    content: "";
    top: 5px;
    left: 2px;
    padding-right: 18px;
    margin-right: 14px;
    background-image: url("../img/phone_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  /* ---END-HEADER--- */
  .head_text {
    padding-top: 40px;
  }
  .head_text h2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #836c53;
  }
  button {
    margin-top: 17px;
    text-transform: uppercase;
    width: 235px;
    height: 45px;
    border-radius: 23px;
    background-color: #804412;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }
  /* ---FOOTER--- */
  footer {
    height: 126px;
    background-color: #6c5d50;
  }
  footer .logo {
    width: 140px;
    padding-top: 0;
  }
  footer .logo .logo_text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
  }
  footer .logo .copyright {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    padding-top: 10px;
  }
  footer .phone {
    display: block;
    position: relative;
    padding: 20px 0 0 0;
    vertical-align: 10px;
    text-align: left;
  }
  footer .phone .phone_text {
    color: #fff;
  }
  footer .phone .phone_footer {
    padding-top: 2px;
  }
  footer .phone .phone_footer .number {
    padding-left: 3px;
    font-size: 14px;
  }
  footer .phone .email_footer {
    padding-top: 10px;
  }
  footer .phone .email_footer .number {
    padding-left: 0px;
    font-size: 10px;
  }
  footer .phone img {
    display: inline-block;
    vertical-align: middle;
  }
  footer .phone .number {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  input {
    width: 235px;
    height: 35px;
    border: 2px solid #71625b;
    border-radius: 19px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #56534f;
  }
  .price {
    margin: 0;
  }
  .new_price {
    font-size: 25px;
  }
  .new_price::after {
    width: 15px;
    height: 18px;
  }
  .price_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #56534f;
  }
  .price_1 {
    display: inline-block;
    width: 150px;
  }
  .price_2 {
    display: inline-block;
    width: 150px;
  }
  .price_2 .old_price::before {
    content: none;
  }
  .price_text_0 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #787673;
    display: inline-block;
    width: 75px;
    line-height: 29px;
  }
  .old_price {
    display: inline-block;
    width: 60px;
  }
  .count {
    margin-top: 10px;
  }
  .count_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    color: #56534f;
    line-height: 25px;
  }
  .count_number {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #8f6238;
    line-height: 25px;
  }
  .count_control {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #56534f;
    line-height: 14px;
  }
  .up {
    display: block;
    margin: 0;
  }
  .down {
    display: block;
    margin: 0;
  }
  .text_adv_form {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #976945;
  }
  .m_form {
    width: 275px;
    height: 320px;
    background-color: #fff;
    border: 7px solid #ead7c0;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    text-align: center;
  }
  .m_form h1 {
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #a08967;
  }
  .m_form input {
    margin-top: 30px;
  }
  .m_form p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #7a7a7a;
  }
  .m_form p span {
    font-weight: bold;
    color: #71625b;
  }
  .m_overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
  }
  .percent {
    height: 65px;
    background-color: #f8f1e9;
    margin: 0;
    text-align: center;
  }
  .p_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #56534f;
    padding-top: 10px;
  }
  .p_block {
    margin: 7px auto;
    background-color: #ead7c0;
    width: 222px;
    height: 12px;
    border-radius: 6px;
  }
  .p_block .p_line {
    width: 80%;
    height: 12px;
    border-radius: 6px;
    background-color: #a37749;
  }
  .pay {
    height: 1030px;
    background-image: url("../img/pay_page_bg.png");
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .email {
    margin-bottom: 50px;
  }
  .email input {
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    width: 310px;
    margin-top: 50px;
  }
  .email p {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: black;
    width: 85%;
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    top: 15px;
  }
  .email .number_pay_step {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100%;
    background-color: #7a542b;
    color: #fff;
    margin-right: 10px;
  }
  .pay_method {
    margin-bottom: 50px;
  }
  .pay_method p {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
    width: 85%;
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    top: 0;
  }
  .pay_method .number_pay_step {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 100%;
    background-color: #7a542b;
    color: #fff;
    margin-right: 10px;
  }
  .pay_blocks {
    margin-top: 40px;
  }
  .pay_block {
    border-radius: 9px;
    background-color: white;
    width: 139px;
    height: 102px;
    display: inline-block;
    transition: 0.2s ease;
  }
  .pay_block:hover {
    border: 3px solid #a07d58;
  }
  .pay_block_x {
    width: 146px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
  }
  .pay_descr {
    width: 138px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #535353;
    margin-top: 10px;
  }
  .visa {
    background-image: url("../img/visa.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .sber {
    background-image: url("../img/sber.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .ymoney {
    background-image: url("../img/ymoney.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .alpha {
    background-image: url("../img/alpha.png");
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
  }
  .paypal {
    background-image: url("../img/paypal.png");
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
  }
  .another {
    background-image: url("../img/another.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
  .add {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }
}
