*::-webkit-input-placeholder, *:-moz-placeholder, *::-moz-placeholder, *:-ms-input-placeholder{color:#666;opacity:1;}
body{font-family:"RobotoRegular", sans-serif;font-size:16px;}
.clearfix:after{content:" ";visibility:hidden;display:block;height:0;clear:both;}
html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article, aside, footer, header, nav, section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
figcaption, figure, main{display:block;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace, monospace;font-size:1em;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active, a:hover{outline-width:0;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b, strong{font-weight:inherit;}
b, strong{font-weight:bolder;}
code, kbd, samp{font-family:monospace, monospace;font-size:1em;}
dfn{font-style:italic;}
mark{background-color:#ff0;color:#000;}
small{font-size:80%;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
audio, video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
img{border-style:none;}
svg:not(:root){overflow:hidden;}
button, input, optgroup, select, textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button, input{overflow:visible;}
button, select{text-transform:none;}
button, html [type="button"], [type="reset"], [type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
section{overflow:hidden;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{display:inline-block;vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"], [type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details, menu{display:block;}
summary{display:list-item;}
canvas{display:inline-block;}
template, [hidden]{display:none;}
.main{background-image:url("../img/main-bg.jpg");background-position:bottom center;background-size:cover;background-repeat:no-repeat;min-height:736px;}
.main .top-bar .logo{margin-top:40px;}
.main .top-bar .logo a img{width:125px;}
.main nav ul{margin:57px 0 0 60px;padding:0;}
.main nav ul li{display:inline-block;margin:0 20px 0 0;}
.main nav ul li:last-child{margin-right:0;}
.main nav ul li a{font-size:16px;font-family:"PT Sans";color:#f6f6f6;line-height:1.2;text-align:center;transition:all 0.5s;}
.main nav ul li a:hover{color:#fc1259;}
.main #nav-icon1, .main #nav-icon2, .main #nav-icon3, .main #nav-icon4{margin:0;float:right;margin-right:25px;width:40px;height:25px;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:0.5s ease-in-out;-moz-transition:0.5s ease-in-out;-o-transition:0.5s ease-in-out;transition:0.5s ease-in-out;cursor:pointer;position:absolute;right:0;top:10px;}
.main #nav-icon1 span, .main #nav-icon3 span, .main #nav-icon4 span{display:block;position:absolute;height:5px;width:100%;background:#fff;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:0.25s ease-in-out;-moz-transition:0.25s ease-in-out;-o-transition:0.25s ease-in-out;transition:0.25s ease-in-out;}
.main #nav-icon4 span:nth-child(1){top:0px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
.main #nav-icon4 span:nth-child(2){top:10px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
.main #nav-icon4 span:nth-child(3){top:20px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center;}
.main #nav-icon4.open span:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:-4px;left:4px;}
.main #nav-icon4.open span:nth-child(2){width:0%;opacity:0;}
.main #nav-icon4.open span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);top:25px;left:4px;}
.main h1{font-size:36px;font-family:"PT Serif";color:white;font-weight:bold;text-transform:uppercase;line-height:1.2;text-align:center;margin:160px 0 0 0;}
.main p{font-size:24px;font-family:"PT Sans";color:#f6f6f6;line-height:1.2;text-align:center;margin:30px auto 85px auto;}
.main .main-promo{text-align:center;}
.main .main-promo .top-image{background-position:center;background-repeat:no-repeat;background-size:65%;width:80px;height:80px;border:2px solid #fc1259;border-radius:50%;margin:0 auto;}
.main .main-promo .img_0{background-image:url("../img/main-trigger_0.png");}
.main .main-promo .img_1{background-image:url("../img/main-trigger_1.png");}
.main .main-promo .img_2{background-image:url("../img/main-trigger_2.png");}
.main .main-promo p{font-size:18px;font-family:"PT Sans";color:#f6f6f6;font-weight:bold;line-height:1.2;text-align:center;}
.main .main-promo p span{font-weight:normal;font-size:16px;font-family:"PT Sans";color:#f6f6f6;display:block;}
.second{background-image:url("../img/second_bg.png");background-position:center;background-size:cover;background-repeat:no-repeat;position:relative;top:-35px;min-height:736px;text-align:center;}
.second h2{margin-top:85px;font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.second .second-promo{margin-top:85px;}
.second .second-promo .top-image{background-position:center;background-size:contain;background-repeat:no-repeat;margin:0 auto;height:80px !important;}
.second .second-promo .img_0{width:66px;height:49px;background-image:url("../img/second_trigger_1.png");}
.second .second-promo .img_1{height:67px;width:67px;background-image:url("../img/second_trigger_0.png");}
.second .second-promo .img_2{height:67px;width:63px;background-image:url("../img/second_trigger_2.png");}
.second .second-promo h3{font-family:"PT Sans";font-weight:bold;font-size:22px;color:#364f6b;line-height:1.2;text-align:center;margin:20px auto 15px auto;}
.second .second-promo p{font-size:16px;font-family:"PT Sans";color:#1c2938;line-height:1.2;text-align:center;position:relative;width:255px;margin:0 auto;}
.programm{min-height:875px;}
.programm h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin:0;}
.programm #owlcarousel{margin-top:90px;}
.programm #owlcarousel .owl-nav{top:50%;position:absolute;width:100%;}
.programm #owlcarousel .owl-nav .owl-prev, .programm #owlcarousel .owl-nav .owl-next{color:#9aa7b5;background-color:transparent;font-size:50px;transition:all 0.5s;position:absolute;}
.programm #owlcarousel .owl-nav .owl-prev:hover, .programm #owlcarousel .owl-nav .owl-next:hover{color:#fc1259;}
.programm #owlcarousel .owl-nav .owl-prev{left:-20px;}
.programm #owlcarousel .owl-nav .owl-next{right:-20px;}
.programm #owlcarousel .owl-stage-outer{overflow:display !important;}
.programm .item{margin:0 auto;}
.programm .item .programm-image{width:360px;height:342px;position:absolute;left:50%;transform:translateX(-50%);z-index:8;top:-20px;}
.programm .item .programm-card{margin:0 auto;z-index:9;background-color:rgba(255, 255, 255, 0.8);box-shadow:0px 5px 17.1px 0.9px rgba(54, 79, 107, 0.2);width:322px;height:420px;padding:30px 30px 43px 30px;box-sizing:border-box;position:relative;margin-bottom:25px;margin-top:190px;}
.programm .item .programm-card .lesson_c{font-size:16px;font-family:"PT Sans";color:#fc1259;font-weight:bold;line-height:1.2;text-align:center;margin-bottom:20px;}
.programm .item .programm-card .lesson_name{font-size:24px;font-family:"PT Serif";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;margin-bottom:20px;}
.programm .item .programm-card p{margin:0;}
.programm .item .programm-card .lesson_duraton, .programm .item .programm-card p{font-size:16px;font-family:"PT Sans";color:#1c2938;line-height:1.2;text-align:left;margin-bottom:15px;}
.programm .item .programm-card .lesson_goal, .programm .item .programm-card .lesson_result{font-size:16px;font-family:"PT Sans";color:#1c2938;font-weight:bold;line-height:1.2;text-align:left;margin-bottom:15px;}
.more-info{min-height:650px;}
.more-info h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-bottom:20px;}
.more-info p{font-size:18px;font-family:"PT Sans";color:black;line-height:1.2;text-align:center;margin:0 0 42px 0;}
.more-info .video-wrapper{padding:0;height:400px;box-shadow:0px 15px 28.5px 1.5px rgba(54, 79, 107, 0.2);position:relative;}
.more-info .video-wrapper::before{position:absolute;content:"";height:456px;width:1128px;background-image:url("../img/more-info_bg.png");background-position:center;background-size:cover;background-repeat:no-repeat;left:50%;top:50%;transform:translate(-50%, -50%);z-index:-1;}
.more-info .video-wrapper iframe{width:100%;}
.coast{background-image:url("../img/coast_bg.png");background-position:center;background-size:cover;background-repeat:no-repeat;min-height:425px;}
.coast h2{font-size:36px;font-family:"PT Serif";color:white;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-top:45px;margin-bottom:42px;}
.coast .new-price{font-size:36px;font-family:"PT Sans";color:#fff;text-shadow:1px 1px 1px black;font-weight:bold;line-height:1.2;text-align:center;margin-bottom:20px;}
.coast .old-price{font-size:20px;font-family:"PT Sans";color:#fff;text-shadow:1px 1px 1px black;font-weight:bold;line-height:1.2;text-align:center;margin-bottom:20px;}
.coast .old-price span{text-decoration:line-through;}
.coast form{text-align:center;}
.coast form .field{border-radius:3px;background-color:white;display:inline-block;line-height:45px;width:262px;height:45px;font-size:16px;font-family:"PT Sans";color:#1c2938;text-align:left;padding-left:20px;box-sizing:border-box;border:none;margin:0 13px;}
.coast form .button{display:block;background-color:#fc1259;width:330px;height:60px;line-height:60px;font-size:24px;font-family:"PT Sans";color:white;text-align:center;border-radius:30px;border:none;margin:25px auto;}
.needed{background-image:url("../img/needed_bg.png");background-position:center;background-size:cover;position:relative;z-index:-1;top:-45px;padding-bottom:160px;}
.needed h2{font-size:36px;font-family:"PTSerif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-top:175px;}
.needed .needed-wrapper{text-align:center;}
.needed .needed-wrapper .count{font-size:72px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;position:relative;z-index:10;margin-bottom:90px;margin-top:175px;}
.needed .needed-wrapper .count::before{content:"";width:233px;height:272px;background-image:url("../img/needed_count.png");background-size:contain;background-repeat:no-repeat;background-position:center;position:absolute;transform:translate(-50%, -50%) rotate(-45deg);top:50%;left:50%;z-index:-1;}
.needed .needed-wrapper .c_second::before{transform:translate(-50%, -50%) rotate(45deg);}
.needed .needed-wrapper .c_third::before{transform:translate(-40%, -50%) rotate(95deg);}
.needed .needed-wrapper .needed-header{font-size:22px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;}
.needed .needed-wrapper .needed-description{font-size:18px;font-family:"PT Sans";color:black;line-height:1.2;text-align:center;}
.steps{height:490px;background-image:url("../img/steps_bg.png");background-position:center;background-size:cover;background-repeat:no-repeat;position:relative;top:-95px;z-index:-2;}
.steps h2{margin-top:65px;font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-bottom:80px;}
.steps .steps-element{margin:50px 0;}
.steps .steps-element .count{font-size:24px;font-family:"PT Sans";color:#fc1259;line-height:1.2;text-align:center;border-width:1px;border-color:#fc1259;border-style:solid;border-radius:50%;width:65px;height:65px;line-height:65px;}
.steps .steps-element .description .steps-header{margin-top:0;font-size:22px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:left;margin-bottom:10px;}
.steps .steps-element .description .steps-descr{font-size:16px;font-family:"PT Sans";color:#364f6b;line-height:1.2;margin:0;}
.about-teacher h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.about-teacher .teacher-info .info-element-wrapper .info-element{margin-bottom:75px;}
.about-teacher .teacher-info .info-element-wrapper .info-element .info-element_ico{text-align:center;}
.about-teacher .teacher-info .info-element-wrapper .info-element .info-element_ico img{margin:0 auto;}
.about-teacher .teacher-info .info-element-wrapper .info-element p{font-size:16px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;}
.about-teacher .teacher-info .photo-element_wrapper .name{font-size:22px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;}
.about-teacher .about-teacher_row .info-element{margin-top:50px;}
.about-teacher .about-teacher_row .info-element .info-element_ico{text-align:center;}
.about-teacher .about-teacher_row .info-element .info-element_ico img{margin:0 auto;}
.about-teacher .about-teacher_row .info-element p{font-size:16px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;}
.author-work{background-image:url("../img/author-work_bg.png");background-position:top center;background-size:cover;padding-bottom:35px;}
.author-work h2{margin:75px 0 50px 0;font-size:36px;font-family:"PT Serif";color:#fff;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.author-work .owlcarousel_work{width:100%;}
.author-work .owlcarousel_work .owl-dots{margin-top:20px;}
.author-work .owlcarousel_work .owl-dots .owl-dot span{border-radius:50%;background-color:#e8e8e8;width:8px;height:8px;transition:all 0.5s;margin:0 4px;}
.author-work .owlcarousel_work .owl-dots .owl-dot:hover span{background-color:#fc1259;}
.author-work .owlcarousel_work .owl-dots .owl-dot.active span{background-color:#fc1259;}
.author-work .owlcarousel_work .owl-nav{top:50%;transform:translateY(-50%);position:absolute;width:100%;}
.author-work .owlcarousel_work .owl-nav .owl-prev, .author-work .owlcarousel_work .owl-nav .owl-next{color:#9aa7b5;background-color:transparent;font-size:50px;transition:all 0.5s;position:absolute;top:50%;transform:translateY(-50%);}
.author-work .owlcarousel_work .owl-nav .owl-prev:hover, .author-work .owlcarousel_work .owl-nav .owl-next:hover{color:#fc1259;}
.author-work .owlcarousel_work .owl-nav .owl-prev{left:-50px;}
.author-work .owlcarousel_work .owl-nav .owl-next{right:-50px;}
.author-work .owlcarousel_work .item{width:100%;}
.author-work .owlcarousel_work .item img{width:95%;margin:0 auto;box-shadow:0px 21px 28.5px 1.5px black;}
.what_get h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-bottom:175px;}
.what_get .col-md-4{margin-bottom:95px;}
.what_get .col-md-4 .image-info{background-position:center;background-size:contain;width:67px;height:59px;background-repeat:no-repeat;margin:0 auto;position:relative;display:block;margin-bottom:50px;}
.what_get .col-md-4 .image-info::before{content:"";z-index:-1;background-position:center;background-size:cover;background-repeat:no-repeat;display:block;position:absolute;}
.what_get .col-md-4 .get_description{font-size:22px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;width:225px;margin:0 auto;}
.what_get .col-md-4 .img_0{background-image:url("../img/what-get_icon_0.png");}
.what_get .col-md-4 .img_0::before{top:55%;left:20%;transform:translate(-50%, -50%);width:208px;height:246px;background-image:url("../img/what-get_bg_0.png");}
.what_get .col-md-4 .img_1{background-image:url("../img/what-get_icon_1.png");}
.what_get .col-md-4 .img_1::before{top:40%;left:47%;transform:translate(-50%, -50%);width:186px;height:185px;background-image:url("../img/what-get_bg_1.png");}
.what_get .col-md-4 .img_2{background-image:url("../img/what-get_icon_2.png");}
.what_get .col-md-4 .img_2::before{top:34%;left:52%;transform:translate(-50%, -50%);width:190px;height:183px;background-image:url("../img/what-get_bg_2.png");}
.why-not{position:relative;}
.why-not::after{content:"";z-index:-1;position:absolute;right:0;top:85px;width:556px;height:613px;background-image:url("../img/brush.png");display:block;}
.why-not h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-top:100px;margin-bottom:75px;}
.why-not .wrapper .top-img{width:71px;height:71px;background-image:url("../img/why-not_img.png");background-position:center;background-size:cover;background-repeat:no-repeat;margin:0 auto;}
.why-not .wrapper h3{font-size:22px;font-family:"PT Sans";color:#364f6b;font-weight:bold;line-height:1.2;text-align:center;margin:15px auto 25px auto;height:60px;}
.why-not .wrapper p{font-size:16px;font-family:"PT Sans";color:black;opacity:0.8;line-height:1.2;text-align:center;width:351px;}
.student-work{background-image:url("../img/stud-work_bg.png");background-position:top center;background-size:cover;background-repeat:no-repeat;padding:50px 0;}
.student-work h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.student-work .owlcarousel_stud-work{width:100%;margin-bottom:25px;}
.student-work .owlcarousel_stud-work .owl-stage-outer{height:295px;}
.student-work .owlcarousel_stud-work .owl-nav{top:40%;transform:translateY(-50%);position:absolute;width:100%;}
.student-work .owlcarousel_stud-work .owl-nav .owl-prev, .student-work .owlcarousel_stud-work .owl-nav .owl-next{color:#9aa7b5;background-color:transparent;font-size:50px;transition:all 0.5s;position:absolute;top:50%;transform:translateY(-50%);}
.student-work .owlcarousel_stud-work .owl-nav .owl-prev:hover, .student-work .owlcarousel_stud-work .owl-nav .owl-next:hover{color:#fc1259;}
.student-work .owlcarousel_stud-work .owl-nav .owl-prev{left:-50px;}
.student-work .owlcarousel_stud-work .owl-nav .owl-next{right:-50px;}
.student-work .owlcarousel_stud-work .item{width:100%;}
.student-work .owlcarousel_stud-work .item img{width:100%;margin:0 auto;box-shadow:0px 20px 40px 0px rgba(0, 0, 0, 0.25);}
.guaranties h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.guaranties p{font-size:18px;font-family:"PT Sans";color:#1c2938;line-height:1.2;text-align:center;}
.guaranties .bonus-image img{width:100%;}
.guaranties .bonus-image_name{font-size:22px;font-family:"PT Sans";color:#fc1259;font-weight:bold;line-height:1.2;text-align:center;margin:25px 0;}
.guaranties .col-md-4{margin-top:70px;}
.guaranties .col-md-4 .top-img{background-image:url("../img/guaranties-img_0.png");background-position:center;background-size:cover;background-repeat:no-repeat;width:164px;height:163px;margin:0 auto;}
.guaranties .col-md-4 .img_0{background-image:url("../img/guaranties-img_0.png");background-position:center;background-size:cover;background-repeat:no-repeat;width:164px;height:163px;}
.guaranties .col-md-4 .img_1{background-image:url("../img/guaranties-img_2.png");background-position:center;background-size:cover;background-repeat:no-repeat;width:164px;height:163px;}
.guaranties .col-md-4 .img_2{background-image:url("../img/guaranties-img_3.png");background-position:center;background-size:cover;background-repeat:no-repeat;width:164px;height:163px;}
.guaranties .col-md-4 h3{font-size:22px;font-family:"PT Sans";color:#fc1259;font-weight:bold;line-height:1.2;text-align:center;margin:0;}
.guaranties h4{font-size:18px;font-family:"PT Sans";color:#1c2938;line-height:1.2;font-weight:normal;text-align:center;margin:400px auto 10px auto;}
.last{background-image:url("../img/last_bg.png");background-position:top center;background-size:cover;background-repeat:no-repeat;padding-top:85px;top:50px;position:relative;}
.last h2{font-size:36px;font-family:"PT Serif";color:#364f6b;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;}
.last p{font-size:18px;font-family:"PT Sans";color:rgba(28, 41, 56, 0.902);line-height:1.2;text-align:center;margin:0 auto 125px auto;}
.last .wrapper .top-image{background-image:url("../img/last_img.png");background-position:center;background-size:cover;background-repeat:no-repeat;width:65px;height:65px;margin:0 auto;}
.last .wrapper h3{font-size:22px;font-family:"PT Sans";color:#364f6b;line-height:1.2;text-align:center;}
.last h4{font-size:18px;font-family:"PT Sans";color:rgba(28, 41, 56, 0.902);line-height:1.2;text-align:center;font-weight:normal;margin:360px auto 100px auto;}
.coast-last{position:relative;height:186px;min-height:390px;background-position:top center;}
.coast_full{background-image:url("../img/coast_l-bg.png");background-position:center;background-size:cover;min-height:800px;background-repeat:no-repeat;padding:50px 0;position:relative;top:-80px;}
.coast_full h2{font-size:36px;font-family:"PT Serif";color:white;font-weight:bold;font-style:italic;line-height:1.2;text-align:center;margin-bottom:100px;}
.coast_full .left-part .box img{width:500px;}
.coast_full .left-part .box .coast_promo{width:154px;height:154px;background-image:url("../img/coast_promo.png");background-position:center;background-size:cover;background-repeat:no-repeat;text-align:center;position:absolute;top:35px;left:125px;font-size:22px;font-family:"PT Sans";color:white;font-weight:bold;line-height:1.2;padding-top:25px;}
.coast_full .left-part .box .coast_promo span{font-size:36px;}
.coast_full .right-part{transform:translateY(30%);}
.coast_full .right-part .old-price span {text-decoration: line-through;}
.coast_full .right-part .new-price{font-size:36px;font-family:"PT Sans";color:#fff;text-shadow:1px 1px 1px black;font-weight:bold;line-height:1.2;text-align:center;}
.coast_full .right-part .old-price{font-size:20px;font-family:"PT Sans";color:#fff;text-shadow:1px 1px 1px black;font-weight:bold;line-height:1.2;text-align:center;}
.coast_full .right-part form a{display:block;background-color:#fc1259;width:330px;height:60px;line-height:60px;font-size:24px;font-family:"PT Sans";color:white;text-align:center;border-radius:30px;border:none;margin:25px auto;}
.coast_full .right-part .timer{width:210px;height:75px;background-image:url("../img/timer_bg.png");background-position:center;background-size:cover;background-repeat:no-repeat;margin:0 auto;}
.coast_full .right-part .timer .wrapper{text-align:center;padding-top:15px;left:9%;position:relative;}
.coast_full .right-part .timer .hours::after, .coast_full .right-part .timer .minutes::after{content:":";position:absolute;display:inline-block;right:-11px;top:-2px;}
.coast_full .right-part .timer .hours, .coast_full .right-part .timer .minutes, .coast_full .right-part .timer .seconds{position:relative;color:#fff;font-size:36px;font-family:"PT Sans";color:#fcfcfc;font-weight:bold;line-height:1.2;text-align:center;display:inline-block;margin:0 5px;}
.coast_full .right-part p{font-size:16px;font-family:"PT Sans";color:white;font-weight:bold;line-height:1.2;text-align:center;}
