@charset "UTF-8";
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: auto;
  padding: 0;
}

@font-face {
  font-family: HelveticaB;
  src: url(../fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
  font-family: HelveticaM;
  src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face {
  font-family: HelveticaR;
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
h1 {
  font-family: "HelveticaB", sans-serif;
  font-size: 33px;
  color: #fff;
  line-height: 1.091;
  text-align: center;
  text-shadow: 0px 2px 2.85px rgba(0, 0, 0, 0.6);
  margin: 90px 0 0 0;
}

p {
  font-family: "HelveticaB", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 1.05;
  text-align: center;
  text-shadow: 0px 2px 0.95px rgba(0, 0, 0, 0.6);
  margin: 10px 0 0 0;
}

/* HEADER */
header {
  height: 690px;
  width: 100%;
  background-image: url("../img/header_bg.jpg");
  background-position: center;
  background-size: cover;
}
header h1 {
  color: #fff;
  text-transform: uppercase;
}

.logo {
  width: 125px;
  height: auto;
  padding-top: 20px;
  left: 0;
}

.row {
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 40px;
}

form {
  margin: 20px 0 0 0;
  text-align: center;
}

.header-form p {
  font-size: 13px;
  font-family: "HelveticaR";
  color: #fff;
  line-height: 1.385;
  text-shadow: none;
  margin-top: 20px;
}

.header-form_name {
  border-radius: 20px;
  background-color: #fff;
  width: 274px;
  height: 41px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: "HelveticaM", sans-serif;
  color: #384752;
  line-height: 1.286;
  margin: 0 13px 0 13px;
}
.header-form_name:focus {
  outline: none;
}

.header-form_submit {
  border-radius: 20px;
  background-color: #de6232;
  width: 274px;
  height: 41px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: "HelveticaB", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 13px 0 13px;
  transition: all 0.5s;
}
.header-form_submit:focus {
  outline: none;
}
.header-form_submit:hover {
  background-color: #ff8d61;
  cursor: pointer;
}

.timer {
  margin-top: 70px;
}

.timer_blocks {
  text-align: center;
  margin-top: 15px;
}

.timer_block {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0 7px 0 7px;
  border: 8px solid #fff;
  background-color: rgba(255, 255, 255, 0.851);
  border-radius: 10px;
}

.time_text {
  font-size: 48px;
  font-family: "HelveticaB", sans-serif;
  color: #45392a;
  transform: matrix(0.85, 0, 0, 0.85, 0, 0);
}

.time_description {
  font-size: 13px;
  font-family: "HelveticaB";
  color: #45392a;
  margin-top: -5px;
  transform: matrix(0.85, 0, 0, 0.85, 0, 0, 0);
}

/* Result */
.result {
  padding: 85px 0 225px 0;
}
.result .container {
  height: 305px;
}

.video {
  float: left;
  width: 444px;
  height: auto;
  position: relative;
  margin-top: 15px;
  text-align: center;
}
.video iframe {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 300px;
}

.results {
  float: right;
  width: 450px;
}

h2 {
  font-size: 30px;
  font-family: "HelveticaB", sans-serif;
  color: #3b3125;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}

.bullet_text {
  display: inline-block;
  width: 90%;
  padding: 0;
  font-size: 13px;
  font-family: "HelveticaM";
  color: #60584e;
  line-height: 1.2;
  text-align: left;
  list-style: none;
  position: relative;
  margin: 10px 0 10px 0;
}
.bullet_text::before {
  content: "";
  position: absolute;
  background-image: url("../img/bullet_icon_0.png");
  top: 0px;
  left: -30px;
  line-height: 1.8em;
  padding: 0;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon_0::before {
  background-image: url("../img/bullet_icon_0.png");
}

.icon_1::before {
  background-image: url("../img/bullet_icon_1.png");
}

.icon_2::before {
  background-image: url("../img/bullet_icon_2.png");
}

.icon_3::before {
  background-image: url("../img/bullet_icon_3.png");
}

.icon_4::before {
  background-image: url("../img/bullet_icon_4.png");
}

.icon_5::before {
  background-image: url("../img/bullet_icon_5.png");
}

.icon_6::before {
  background-image: url("../img/bullet_icon_0.png");
}

.bullets {
  margin: 10px 0 0 10px;
  padding: 0 0 0 20px;
}

/* pre-footer */
.promo {
  height: 465px;
  background-image: url("../img/promo_bg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

h3 {
  font-size: 20px;
  font-family: "HelveticaB";
  color: #45392a;
  text-align: center;
}
h3 span {
  color: #de6232;
}

.promo_form {
  width: 333px;
  height: 265px;
  background-color: #fff;
  float: left;
  border: 3px #de6232 solid;
  margin: 100px 0 0 0;
  border-radius: 10px;
}
.promo_form .header-form_name {
  display: block;
  border: 2px #869199 solid;
  margin: 20px auto;
}
.promo_form .header-form_submit {
  display: block;
  margin: 0 auto;
}
.promo_form p {
  font-size: 13px;
  font-family: "HelveticaR";
  color: #5d798e;
  line-height: 1.385;
  text-shadow: none;
  margin-top: 20px;
}

.promo_content {
  width: 560px;
  float: right;
  margin-top: 90px;
}
.promo_content h2 {
  font-size: 25px;
  font-family: "HelveticaB";
  color: #fff;
  display: inline-block;
  padding: 10px 24px 10px 0;
  margin-bottom: 10px;
}
.promo_content h2 span {
  display: inline-block;
  padding: 4px 18px;
  background-color: #de6232;
  text-transform: uppercase;
}
.promo_content .timer_blocks {
  text-align: left;
}
.promo_content .timer_blocks .timer_block {
  text-align: center;
}

.hurry_get {
  position: relative;
  margin-top: 25px;
  height: 36px;
  width: 350px;
  background: #fff;
  text-align: center;
  line-height: 2.2;
  font-family: "HelveticaB", sans-serif;
  font-size: 16px;
}

.hurry_get:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 36px;
  width: 63px;
  background: url("../img/arr.png") no-repeat 0 0;
}

/* Footer */
footer {
  height: 105px;
  width: 100%;
  background-color: #fff;
}

footer .container .logo {
  position: relative;
  float: right;
  width: 150px;
  height: auto;
  padding-top: 20px;
  background-repeat: no-repeat;
}

footer .footer_info {
  padding-top: 20px;
}

footer .footer_info a {
  font-family: "HelveticaR", sans-serif;
  font-size: 13px;
  color: #414141;
  padding: 0 40px 0 0;
  margin: 0;
  text-decoration: none;
}

footer .footer_info a:hover {
  color: #46af72;
}

footer .wrap {
  width: 800px;
  float: left;
  height: 100%;
}

footer .wrap .copyright {
  padding-top: 25px;
  font-family: "HelveticaR", sans-serif;
  font-size: 12px;
  color: #6f7174;
}

/* ╨Ч╨╡╨╗╨╡╨╜╨░╤П ╨┐╨╛╨╗╨╛╤Б╨░ ╨╜╨░ ╨┐╨╡╤А╨▓╨╛╨╝ ╨┐╤А╨╛╨║╤А╤Г╤В╨╡ */
.ribbon-wrapper-green {
  width: 305px;
  height: 305px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon-green {
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: 24px 0;
  left: -77px;
  top: 80px;
  width: 535px;
  background-color: #ff6022;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.07);
}
.ribbon-green a {
  font-family: "HelveticaB", sans-serif;
  font-size: 19px;
  color: #fff;
  line-height: 1.2;
  text-decoration: none;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}

.modal_bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal_bg .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
.modal_bg .close {
  color: black;
  font-family: "HelveticaR", sans-serif;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.modal_bg .promo_form {
  left: 50%;
  top: 250px;
  height: 280px;
  margin-top: -140px;
  margin-left: -151.5px;
  position: relative;
  z-index: 1100;
}

@media screen and (max-width: 810px) {
  .container {
    width: 320px;
  }

  h1 {
    font-size: 21px;
  }

  p {
    font-size: 13px;
  }

  /* HEADER */
  header {
    padding: 45px 0 42px 0;
  }
  header h1 {
    text-transform: uppercase;
    line-height: 1.5;
    margin-top: 27px
  }
  header h1 .spanh {
    font-size: 17px;
    line-height: 1.2;
    text-transform: none;
  }

  .logo {
    width: 125px;
    height: auto;
    padding-top: 20px;
    left: 0;
  }

  .row {
    padding: 10px 0;
  }

  form {
    margin: 20px 0 0 0;
    text-align: center;
  }

  .header-form p {
    font-size: 13px;
    margin-top: 20px;
  }

  .header-form_submit {
    margin: 25px 13px 0 5px;
  }

  .timer {
    margin-top: 30px;
  }

  .timer_blocks {
    text-align: center;
    margin-top: 15px;
  }

  .timer_block {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 7px 0 7px;
    border: 8px solid #fff;
    background-color: rgba(255, 255, 255, 0.851);
  }

  /* Result */
  .result {
    padding: 85px 0 255px 0;
  }
  .result .container {
    height: 550px;
  }

  .video {
    width: 100%;
  }
  .video iframe {
    width: 100%;
    height: 300px;
  }

  .results {
    float: left;
    width: 100%;
    margin: 25px 0;
  }

  h2 {
    font-size: 27px;
    text-align: center;
    margin: 0;
    width: 100%;
    text-align: left;
  }

  /* pre-footer */
  .promo {
    height: 785px;
    padding: 45px 0;
    background-image: url("../img/promo_bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  h3 {
    font-size: 20px;
    font-family: "HelveticaB";
    color: #1c2329;
    text-align: center;
  }

  .promo_form {
    width: 95%;
    height: 265px;
    background-color: #fff;
    float: left;
    margin: 50px auto;
  }
  .promo_form .header-form_name {
    display: block;
    border: 2px #869199 solid;
    margin: 20px auto;
  }
  .promo_form .header-form_submit {
    display: block;
    margin: 0 auto;
  }
  .promo_form p {
    font-size: 13px;
    font-family: "HelveticaR";
    color: #5d798e;
    line-height: 1.385;
    text-shadow: none;
    margin-top: 20px;
  }

  .promo_content {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
  .promo_content h1 {
    margin-top: 20px;
    text-align: left;
  }
  .promo_content h2 span {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
  .promo_content .timer {
    margin-top: 20px;
  }
  .promo_content .timer p {
    text-align: left;
  }
  .promo_content .timer .timer_block {
    float: left;
  }
  .promo_content .hurry_get {
    width: 80%;
    font-size: 14px;
  }

  /* Footer */
  footer {
    height: 200px;
    width: 100%;
    background-color: #fff;
  }

  footer .container .logo {
    position: relative;
    float: right;
    width: 150px;
    height: auto;
    padding-top: 20px;
    background-repeat: no-repeat;
  }

  footer .footer_info {
    padding-top: 20px;
  }

  footer .footer_info a {
    padding: 0;
    margin: 20px 0;
    display: block;
    width: 100%;
    float: none;
  }

  footer a {
    float: left;
    margin: 0px 0px 20px;
  }

  footer .footer_info a:hover {
    color: #46af72;
  }

  footer .wrap {
    width: 100%;
    float: left;
    height: 100%;
  }

  footer .wrap .copyright {
    padding-top: 25px;
    font-family: "HelveticaR", sans-serif;
    font-size: 12px;
    color: #6f7174;
  }

  .modal_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
  }
  .modal_bg .promo_form {
    left: 0;
    top: 150px;
    width: 100%;
    height: 280px;
    margin: 0;
    position: relative;
    float: none;
  }

  .ribbon-wrapper-green {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 25px;
    top: 0;
    right: 0;
  }

  .ribbon-green {
    transform: none;
    position: relative;
    padding: 7px 0;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
